*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: "PP Neue Montreal";
}

/* Ensure that the container fills the full height of the viewport */
